WP_API_URL=https://yourdomain.com/wp-json/
WP_USERNAME=username
WP_PASSWORD="supersafepasswort&*!123"
OPENAI_API_KEY="your ai api key"
BLUESKY_HANDLE=accountname.bsky.social
BLUESKY_APP_PASSWORD="supersafepasswort&*!123"
MASTODON_BASE_URL=https://mastodon.social
MASTODON_ACCESS_TOKEN="supersafepasswort&*!123"

